configuration {
    modi: "window,combi,ssh,drun,run,windowcd,keys";
	font: "Intel One Mono Font 16";
	show-icons: true;
	icon-theme: "Papirus";
	display-drun: "App";
}
@theme "~/.config/qtile/rofi/nord-dark.rasi"
